* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(http://4.bp.blogspot.com/-OLLrku3K1eo/VSWsgbdV4yI/AAAAAAAAApo/aB_NrW54h24/s1600/wrapped-flowers-book-helene-hanff-coffee-lisa-hjalt.jpg);
    background-size: cover;
    background-position: center;
}


.content {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 100px;
    margin-top: 80px;
}

p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #099688;
    background: transparent;
    color: orange;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}

span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}


