body {
    margin: 0;
    padding: 0;
    background-image: url('http://cdn.wallpapersafari.com/57/98/JgUlOx.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.form-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 370px;
    height: 700px;
    padding: 90px 50px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(255,217,9);
    margin-top: -10px;
}

.text-danger, .form-group {
    width: 100%;
    margin-bottom: 20px;
    color: yellow;
}

.control-label col-md-2 {
    font-weight: bold;
    color: #fff;
}

.account {
    color: orange;
}
