
@{
    ViewBag.Title = "Home";
}

<div class="w3-container" style="padding:150px 16px">


    <h3 class="w3-center">WELCOME ADMIN</h3>
    <p class="w3-center w3-large">What do you want to manager?</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <div class="w3-container" style="padding: 1.5rem">
                    <h3>DEPARTMENT</h3>
                    <p class="w3-opacity">Create, Edit and Delete</p>
                    <p><a href="/admin/departments" class="w3-button w3-light-grey w3-block"><i class="fa fa-pencil" aria-hidden="true"></i> Manager Now</a></p>
                </div>
            </div>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <div class="w3-container" style="padding: 1.5rem">
                    <h3>CATEGORY</h3>
                    <p class="w3-opacity">Create, Edit and Delete</p>
                    <p><a href="/admin/categories" class="w3-button w3-light-grey w3-block"><i class="fa fa-pencil" aria-hidden="true"></i> Manager Now</a></p>
                </div>
            </div>
        </div>


        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <div class="w3-container" style="padding: 1.5rem">
                    <h3>ACCOUNT</h3>
                    <p class="w3-opacity">Create, Edit and Delete</p>
                    <p><a href="/admin/accounts" class="w3-button w3-light-grey w3-block"><i class="fa fa-pencil" aria-hidden="true"></i> Manager Now</a></p>
                </div>
            </div>
        </div>


        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <div class="w3-container" style="padding: 1.5rem">
                    <h3>ROLE</h3>
                    <p class="w3-opacity">Create, Edit and Delete</p>
                    <p><a href="/admin/roles" class="w3-button w3-light-grey w3-block"><i class="fa fa-pencil" aria-hidden="true"></i> Manager Now</a></p>
                </div>
            </div>
        </div>


        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <div class="w3-container" style="padding: 1.5rem">
                    <h3>IDEAS</h3>
                    <p class="w3-opacity">Create, Edit and Delete</p>
                    <p><a href="/admin/ideas" class="w3-button w3-light-grey w3-block"><i class="fa fa-pencil" aria-hidden="true"></i> Manager Now</a></p>
                </div>
            </div>
        </div>


    </div>

</div>