@model IEnumerable<_1640_Project.Models.Role>

@{
    ViewBag.Title = "All Roles";
}

<div class="w3-container" style="padding:50px 16px">

    <h2>All Roles in system</h2>

    <p>
        <a href="/admin/roles/create" class="btn btn-outline-primary">Add New Role</a>
    </p>
    <table class="table table-info table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleID })
                </td>
            </tr>
        }

    </table>
</div>