@model IEnumerable<_1640_Project.Models.Department>

@{
    ViewBag.Title = "All Department";
}

<div class="w3-container" style="padding:50px 16px">

    <h2>All Department in system</h2>

    <p>
        <a href="/admin/departments/create" class="btn btn-outline-primary">Add New Department</a>
    </p>
    <table class="table table-hover table-secondary">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>Action</th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
                </td>
            </tr>
        }

    </table>
</div>