@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="~/Styles/About.css" rel="stylesheet" />
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                <h2>Your application description page.</h2> <br />
                <h2>Your contact page </h2> <br />
                <h6>Email: abc@gmail.com</h6> <br />
                <h6>Phone Number : 098xxx</h6>
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>