
@{
    ViewBag.Title = "Agree";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="bg-primary text-white p-5 text-center">
        <h1>Read all of them. Thanks</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>About</h2>
                <p>
                    Our "ideas" page is about collecting ideas, and often the most awkward thing to write about. 
                    It's a pity because analytics often show the page as one of the most visited on any website. 
                    Imagine an idea of your own embellished, lifting you above your competitors. 
                    This can be your "ideas" about us page if you show interest and submit your good ideas.
                </p>
                <p>
                    The good news is that your "ideas" page is not limited to the ideas you post per day, 
                    Share your ideas for everyone to see.
                </p>
                <p>
                    The bad news is that creating the perfect "idea" page is easier said than done. 
                    Make sure the idea is in the right area to place it.
                </p>
            </div>
            <div class="col-sm-4">
                <h2> Check it out!</h2>
                <p>
                    Don't be afraid to edit when posting your ideas. 
                    Spend a fair amount of time checking your analytics for traffic,bounce rate, and length of time on page. 
                    Edit odd sentences, add images, trim, intro videos, and more, based on what the data tells you.
                </p>
                <p>
                    Make sure the idea is in the right niche and works on all devices. 
                    It doesn't make any sense to spend all this time crafting a great idea that is visible to only a small percentage of your audience, 
                    which is what will most likely happen if you ignore mobile users and tablet. 
                    Whether you have a lot of responsive ideas or a dedicated mobile site, keep checking its performance.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Cut out jargon</h2>
                <p>
                    Writing in acronym-infested jargon might make you feel smart at the time, 
                    but it's boring and cold. People won't remember you. 
                    What they really want when they visit Your Idea is to find out exactly what you do, 
                    in simple, clear words, exactly what your Idea is.
                </p>
            </div>
        </div>
    </div>
</body>
</html>