@model List<_1640_Project.Models.Category>

@{
    ViewBag.Title = "Category";
}

    <div>
        <div>
            <h1><a href="/ideas/create?submit=@ViewBag.SubmitID">Add Ideas</a></h1>
            <p>Choose your industry</p>
            <div>
                @foreach (var item in Model)
                {
                <a href="/home/view?cate=@item.CategoryID&submit=@ViewBag.SubmitID"><button type="button"><span></span>@item.CategoryName</button></a>
                }
            </div>
        </div>
    </div>





