@model List<_1640_Project.Models.Submission>

@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>

<table class="table">
    
        @foreach (var item in Model)
        {  
    <tr>
        <td>
            <a href="/home/category/@item.SubmissionID">@item.SubmissionName</a>
        </td>
    </tr>
        }
   

</table>




