@model List<_1640_Project.Models.Submission>

@{
    ViewBag.Title = "Submit";
}

    <div>
        <div>
            <h1>Submit Your Idea</h1>
            <p>Choose your industry</p>
            <div>
                @foreach (var item in Model)
                {
                <a href="/home/category/@item.SubmissionID"><button type="button"><span></span>@item.SubmissionName</button></a>
                }
            </div>
        </div>
    </div>





