@model List<_1640_Project.Models.Category>

@{
    ViewBag.Title = "Home";
}

<h2>University of GW</h2>


<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            <td>
                <a href="/home/submit/@item.CategoryID">@item.CategoryName</a>
            </td>
        }

    </tr>
</table>
