@model List<_1640_Project.Models.Submission>
@{
    ViewBag.Title = "Down Data";
}

<h1>Please choose submissions to download!!!</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/QAM/Down/Down/@item.SubmissionID">@item.SubmissionName</a>
            </td>
        </tr>
    }

</table>
